name: Build and Test

on:
  push:
    branches:
      - main
      - feature/**
      - fix/**
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm ci
      - run: |
          npm run build
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test Results Success
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-title: Test Results Success
          results-path: ./files/success/
      - name: Test Results Fail
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-title: Test Results Fail
          results-path: ./files/fail/
          allow-failed-tests: true
